templates/mbt_setup.dtd

<!ELEMENT MBTINIT (MODEL+,SCRIPT?,GENERATOR+)>
<!ELEMENT SCRIPT (#PCDATA)>
<!ELEMENT GENERATOR (AND|OR|CONDITION)>
<!ELEMENT AND ((AND|OR|CONDITION)+)>
<!ELEMENT OR ((AND|OR|CONDITION)+)>

<!ATTLIST MBTINIT EXTENDED (true|false) "false" #IMPLIED>
<!ATTLIST MODEL PATH CDATA #REQUIRED>
<!ATTLIST GENERATOR TYPE CDATA #REQUIRED>
<!ATTLIST GENERATOR VALUE CDATA #IMPLIED>
<!ATTLIST CONDITION TYPE CDATA #REQUIRED>
<!ATTLIST CONDITION VALUE CDATA #IMPLIED>
